/* container-wrapper를 header와 footer를 제외한 공간에서 중앙 정렬 */
.container-wrapper {
    margin-top: 5vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; /* footer 높이만큼 아래 패딩 추가 */
}

.container-wrapper1 {
    margin-top: 13vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; /* footer 높이만큼 아래 패딩 추가 */
}

/* 컨테이너 스타일 */
.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* 로고 스타일 */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

/* 모든 input 태그에 동일한 스타일 적용 */
input[type="text"], input[type="password"], input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

/* footer를 화면 바닥에 고정 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}